BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 80

BreakTemplateDeclarations: Yes
PenaltyBreakTemplateDeclaration: 0

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

BinPackParameters: false
BinPackArguments: false

AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: true
SortIncludes: false
